@import url(https://fonts.googleapis.com/css?family=Inter:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Antonio:100,200,300,regular,500,600,700);

*,::after,::before{
  box-sizing: border-box;
}

:root{
  --accent: #61ffd0;
}

body{
  margin:0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #24292e;
}

header{
  background-color: #666666;
  background-image: url('container07.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-blend-mode: soft-light;
 
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
}

header > div{
  margin-left: 5rem;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

p.title{
  color: var(--accent);
  margin: 0;
  font-variant: small-caps;
  letter-spacing: 0.35rem;
}

header p, section p{
  color: #ddd;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 300;
}
h1{
  color: var(--accent);
  font-size: 7rem;
  /* font-stretch: ; */
  text-transform: uppercase;
  font-family: Antonio,Impact, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}
h1 span{
  color: white;
}

header button{
  font-variant: small-caps;
  border-color: var(--accent);
  background-color: transparent;
  border-radius: 9999px;
  padding: 1.5rem;
  color: white;
  font-size: 1.35rem;
  border: 0;
  outline: 2px solid var(--accent);
  width: 25ch;
  letter-spacing: 0.35rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button svg{
  color: var(--accent)
}

section{
  min-height: 100vh;
}

section{
  display: flex;
  /* margin: 4rem; */
  gap: 4rem;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('fondo.svg');
  background-size: 200px;
  background-position: center;
}
section>div{
  max-width:30vw;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}



h2{
  color: var(--accent);
  font-size: 5rem;
  /* font-stretch: ; */
  text-transform: uppercase;
  font-family: Antonio,Impact, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}
h2 span{
  color: white;
}




@media screen and (975px<width<1644px) {
  h1{
    font-size: 5rem;
  }
  header p, section p{
    font-size: 1rem;
  }
  header > div{
    gap: 1rem;
  }
  header button{
    padding: 1rem;
    font-size: 1.25rem;
    width: 20ch;
    letter-spacing: 0.25rem;
  }
  h2{
    font-size: 4rem;
  }
  section > div{
    max-width:35vw;
  }
}

@media screen and (width<975px) {
  h1{
    font-size: 4.5rem;
  }
  header > div{
    gap: 0.75rem;
    max-width: 80vw;
  }

  header p, section p{
    font-size: 0.85rem;
  }
  h2{
    font-size: 3.5rem;
  }
  section{
    flex-direction: column;
  }
  section>div{
    max-width: 80vw;
  }
}